<footer class="bg-dark text-light pt-5">
	<div class="container">
		<div class="row gy-4">

			<!-- Thông tin công ty -->
			<div class="col-12 col-md-6">
				<h5 class="fw-bold text-uppercase mb-3">
					CÔNG TY CỔ PHẦN SẢN XUẤT <br>
					<span class="text-warning">HƯƠNG NHANG THẢO MỘC BUDDHA KING</span>
				</h5>

				<p class="mb-2">
					<i class="fa-solid fa-location-dot me-2 text-warning"></i>
					69 đường số 2, Khu phố Thống Nhất 1, Phường Dĩ An, TP. Hồ Chí Minh
				</p>

				<p class="mb-2">
					<i class="fa-solid fa-envelope me-2 text-warning"></i>
					thaomochuongnhang@gmail.com
				</p>

				<p class="mb-3">
					<i class="fa-solid fa-phone me-2 text-warning"></i>
					0587 6666 88 - 0372 1212 79
				</p>

				<!-- Social -->
				<div class="d-flex align-items-center gap-3 fs-4">
					<a href="#" class="text-light hover-social">
						<i class="fa-brands fa-facebook"></i>
					</a>
					<a href="#" class="text-light hover-social">
						<i class="fa-brands fa-youtube"></i>
					</a>
				</div>
			</div>

			<!-- Bản đồ + pháp lý -->
			<div class="col-12 col-md-6">
				<div class="row g-3">

					<div class="col-12">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6588.866526930177!2d106.74259255082329!3d10.905571673369355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8383ab3d6a1%3A0xe0b1e67271d68ec8!2zNjkgxJDGsOG7nW5nIFPhu5EgMiwgRMSpIEFuLCBCw6xuaCBExrDGoW5nLCBWaWV0bmFt!5e0!3m2!1svi!2s!4v1768630569564"
							class="w-100 rounded"
							height="180"
							style="border:0;"
							loading="lazy"
							referrerpolicy="no-referrer-when-downgrade">
						</iframe>
					</div>

					<!--<div class="col-12 col-md-6 d-flex align-items-center">
						<img
							th:src="@{/image/BoCongThuong.png}"
							class="img-fluid rounded shadow-sm"
							alt="Đã thông báo Bộ Công Thương"
							loading="lazy">
					</div>-->

				</div>
			</div>

		</div>

		<hr class="border-secondary my-4">

		<!-- Copyright -->
		<div class="text-center small text-secondary pb-3">
			© 2026 Buddha King – Hương nhang thảo mộc thuần Việt. All rights reserved.
		</div>
	</div>
</footer>
